::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 9px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-button {
  height: 4px;
}
